WEB3FORMS_ACCESS_KEY=
NEXT_PUBLIC_CHECKOUT_URL="https://muuhu.com/cart"
NEXT_PUBLIC_SITE_URL="https://us.muuhu.com"
NEXT_PUBLIC_PLUSBASE_ADD_TO_CART_URL="https://muuhu.com/pages/add-to-cart"
SHOPBASE_STORE_URL="https://muuhu.onshopbase.com"
SHOPBASE_API_KEY=""
SHOPBASE_PASSWORD=""
NEXT_PUBLIC_KLAVIYO_COMPANY_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=support@muuhu.com
